
body{
    transition: all .5s;
}
a{
    color:aquamarine;
    text-decoration: none;
    transition: all .5s;  
}

div:hover{
    color: aqua;
    font-size: 2rem;
    transition: all .5s;
}

p:hover{
    color: rgb(148, 71, 4);
    font-size: 2rem;
    transition: all .5s;
}

a:hover{
    color:green;
    font-size: 2rem;
}

/* a:visited{
    color:rgba(142, 33, 11, 0.84);
} */

.cardLink{

}

a:active{
    color:blue;
}

.btn{
    margin:auto;
    height: 40px;
    width: 80px;
    /* margin-left: 50% ; */
    background:rgb(151, 184, 206);
    border:none;
    border-radius:5px;
    cursor:pointer;
    opacity:0.5;
    font-family: inherit;
}

.btn:hover{
    opacity:1;
}

.cor{
    margin:auto;
    height: 40px;
}